@page
@using Domain
@model WebApp.Pages.CheckersOptions.NewGameOptions

@{
    ViewData["Title"] = "Create new game";
}

<h1>Create new game</h1>

<h4>New game options</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CheckersOption.Name" class="control-label"></label>
                <input asp-for="CheckersOption.Name" class="form-control" />
                <span asp-validation-for="CheckersOption.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersOption.GameBoardHeight" class="control-label"></label>
                <input asp-for="CheckersOption.GameBoardHeight" class="form-control" value="8"/>
                <span asp-validation-for="CheckersOption.GameBoardHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersOption.GameBoardWidth" class="control-label"></label>
                <input asp-for="CheckersOption.GameBoardWidth" class="form-control" value="8"/>
                <span asp-validation-for="CheckersOption.GameBoardWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersOption.WhitePieces" class="control-label"></label>
                <select asp-for="CheckersOption.WhitePieces"  asp-items="Html.GetEnumSelectList<EPlayerType>()" class="form-control"></select>
                <span asp-validation-for="CheckersOption.WhitePieces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckersOption.BlackPieces" class="control-label"></label>
                <select asp-for="CheckersOption.BlackPieces" asp-items="Html.GetEnumSelectList<EPlayerType>()" class="form-control"></select>
                <span asp-validation-for="CheckersOption.BlackPieces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
